// Colours
$colour-red: #ff5555;
$colour-yellow: #5555ff;
$colour-blue: #55ff55;
$colour-green: #ffff55;

$colour-white: #e6e6e6;

// Sizes
$card-width: 60px;
$card-height: 90px;

// Font
$font-family: Arial, sans-serif;