// Colours
$colour-red: #ff5555;
$colour-blue: #000073;
$colour-green: #007100;
$colour-yellow: #f8d300;

$colour-white: #e6e6e6;

// Sizes
$card-width: 80px;
$card-height: 120px;

// Font
$font-family: Arial, sans-serif;